@import "../../styles/utils/colors.scss";
@import "../../styles/utils/mixins.scss";

.articleList {
  display: grid;
  justify-content: center;
  max-width: 1000px;

  grid-template-columns: repeat(1, minmax(250px, 1fr));
  grid-auto-columns: 250px;
  gap: 30px;

  padding: 20px;
  margin: 0 auto 40px;
  
  @include onTablet {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  @include onDesktop {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
